@model MountainHoneyApp.Models.Sunrise

@{
    ViewData["Title"] = "Details";
}


<h2 style="margin-left:300px">Information on tenant</h2>
<div class="row form-group" style="margin-left:300px">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnly)
        </dd>
    </dl>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

<div>

</div>
